@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Assistant:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Aclonica';
    }
    p{
     font-family: 'Assistant';
     @apply font-normal text-accent text-xl;
    }
  }
  .title-bottom::after{
    content: "";
    background-color: #136C47;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    left: 125px;
    top: -2.5px;
    z-index: 1;
    position: absolute;
  }
  .title-bottom::before{
    content: "";
    width: 120px;
    height: 1.5px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #136C47;
  }